     <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <span *ngIf="currentCourse.id; else noSelection">
                        {{originalTitle}}
                    </span>
                    <ng-template #noSelection>Select Course</ng-template>
                </mat-card-title>
            </mat-card-header>

            <form #formName = "ngForm" (submit)="saved.emit(currentCourse)">
                <mat-card-content>
                    <mat-form-field>
                        <input 
                            matInput 
                            placeholder="Title" 
                            type="text"
                            name="title" 
                            [(ngModel)]="currentCourse.title" 
                            required
                        />
                    </mat-form-field>

                    <mat-form-field>
                        <input 
                            matInput 
                            placeholder="Description" 
                            type="text"
                            name="description" 
                            [(ngModel)]="currentCourse.description" 
                        />
                    </mat-form-field>

                    <section>
                        <h4>{{currentCourse.percentComplete}}% Completed</h4>
                        <mat-slider
                            class="full-width"
                            min="0"
                            max="100"
                            name="percentComplete"
                            thumbLabel
                            [(ngModel)]="currentCourse.percentComplete"
                        >

                        </mat-slider>
                    </section>
                    <section>
                        <mat-checkbox name="favorite" [(ngModel)]="currentCourse.favorite">
                            
                        </mat-checkbox>
                    </section>
                </mat-card-content>
                <mat-card-actions>
                    <button type="button" mat-button (click)="cancelled.emit()">Cancel</button>
                    <button type="submit" mat-button color="primary" [disabled]="formName.invalid">Submit</button>
                </mat-card-actions>
            </form>
        </mat-card>