<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Course List
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let course of courses"
            (click)="selectCourse(course)">
            <h3 matLine>{{course.title}}</h3>
            <p matLine>{{course.description}}</p>
            <p matLine>{{course.description}}</p>
            <button mat-icon-button color="warn"
              (click)="deleteCourse(course.id);$event.stopImmediatePropagation()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="course-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span *ngIf="selectedCourse.id; else noSelection">{{selectedCourse.title}}</span>
          <ng-template #noSelection>Select Course</ng-template>
        </mat-card-title>
      </mat-card-header>
      <form #form="ngForm" (submit)="saveCourse()">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Title"
              type="text" name="title" required
              [(ngModel)]="selectedCourse.title">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Description"
              type="text" name="description"
              [(ngModel)]="selectedCourse.description">
          </mat-form-field>
          <section>
            <h4>{{selectedCourse.percentComplete}}% Complete</h4>
            <mat-slider
              class="full-width"
              min="0"
              max="100"
              name="percentComplete"
              thumbLabel
              [(ngModel)]="selectedCourse.percentComplete"
            >
            </mat-slider>
          </section>
          <section>
          </section>
          <mat-checkbox name="favorite" [(ngModel)]="selectedCourse.favorite" ></mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="form.invalid" type="submit" mat-button color="primary">Submit</button>
          <button type="button" mat-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
