<div class="courses-containers">
    <div class="courses-list">
        <mat-card>
        <mat-card-header>
            <mat-card-title>
            Course List
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <!-- COURSES LIST -->

        </mat-card-content>
        </mat-card>
    </div>

    <div class="course-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Select Course
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
            
            <!-- COURSE FORM -->

            </mat-card-content>
            <mat-card-actions>

            <!-- COURSE ACTIONS -->

            </mat-card-actions>
        </mat-card>
    </div>
</div>