<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let lesson of courseLessons"
        (click)="selectLesson(lesson)" >
        <h3>{{lesson.title}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>DEBUG</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span *ngIf="currentLesson; else elseBlock">{{currentLesson | json}}</span>
        <ng-template #elseBlock>Select a lesson</ng-template>
    </mat-card-content>
</mat-card>
